**/*cache

**/node_modules

*.lock.*
**/*.lock.*
**/*.lock.json

**/*.local.*
**/*.local/

atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store
atom.symlink/recovery
atom.symlink/local-history

git/gitconfig.local.symlink

nvm.symlink/versions
nvm.symlink/aliases

vscode/user/workspaceStorage

*/chrome/profile*

**/elpa/*

desktop

.DS_STORE