"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
  "atom-beautify":
    general:
      _analyticsUserId: "49380e08-7491-4765-b237-75ef2ab2445c"
    html:
      brace_style: "expand"
      end_with_newline: true
      indent_inner_html: true
      max_preserve_newlines: 0
      preserve_newlines: false
      unformatted: [
        "audio"
      ]
  "atom-css-comb": {}
  "atom-csscomb":
    executeOnSave: true
    presetConfig: "yandex"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
  "atom-import-sort": {}
  "atom-increment":
    stringsOfSameSize: false
  "atom-minimap-titles":
    font: "ANSI Shadow"
  "atom-terminal":
    app: "iTerm.app"
  "autocomplete-paths":
    extensions: [
      "js"
      "jsx"
      "ts"
      "coffee"
      "cson"
      "png"
      "svg"
      "json"
      "gql"
    ]
    prefixes: [
      "import\\s+.*?from\\s+['\"]"
      "#import\\s+['\"]"
      "require\\(['\"]"
    ]
  "bracket-matcher":
    pairsWithExtraNewline: [
      "()"
      "[]"
      "{}"
      "<>"
    ]
  "browser-plus": {}
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "Parinfer"
      "activate-power-mode"
      "tool-bar"
      "react"
      "typewriter"
      "linter-write-good"
      "my-package"
      "language-typescript-grammars-only"
      "Hydrogen"
      "atom-clock"
      "git-plus"
      "vim-mode-plus"
      "atom-css-comb"
      "file-hyperclick"
      "busy-signal"
      "clipboard-plus"
      "atom-import-sort"
      "file-icons"
      "tab-foldername-index"
      "foldername-tabs"
      "tidy-tabs"
      "atom-increment"
      "scroll-through-time"
      "autocomplete-modules"
      "atom-handlebars"
      "browser-plus"
      "cson"
      "language-hjson"
      "standardjs-snippets"
      "react-generatr"
      "pretty-json"
      "selection-mode"
      "linter"
      "linter-ui-default"
      "autoclose-html"
      "parinfer"
      "proto-repl"
      "proto-repl-charts"
      "ink"
      "terminal-plus"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".happypack"
      "build"
      ".cache"
      "node_modules"
      "*yarn.lock"
      "*package-lock.json"
    ]
    packagesWithKeymapsDisabled: [
      "navigate-indent"
      "atom-csscomb"
      "change-case"
      "escape-utils"
    ]
    telemetryConsent: "no"
    themes: [
      "pristine-ui"
      "gloom"
    ]
    titleBar: "custom"
  "css-comb":
    predef: "yandex"
    shouldUpdateOnSave: true
  editor:
    fontFamily: "Office Code Pro"
    fontSize: 10
    lineHeight: 1.38
    preferredLineLength: 110
    scrollSensitivity: 30
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
  "exception-reporting":
    userId: "dcce265a-beb1-1c54-bce8-723e237cfe14"
  "file-hyperclick":
    extension: ".coffee, .js, .ts, .scss, .less, .json"
  "file-icons":
    onChanges: true
    strategies:
      grammar: false
      hashbangs: false
      linguist: false
      modelines: false
      usertypes: false
  "flow-ide":
    executablePath: "/Users/evan/.nvm/versions/node/v8.9.1/bin/flow"
    onlyIfAppropriate: false
    showUncovered: true
  "foldername-tabs":
    maxLength: 30
  "gruvbox-plus-syntax":
    brightness: "Light"
  "ide-flowtype":
    tryFlowBin: true
  "js-hyperclick":
    extensions: [
      ".ts"
      ".js"
      ".json"
      ".node"
      ".css"
      "ts"
      "js"
      "json"
      "css"
    ]
    usePendingPanes: true
  "language-babel":
    babelMapsAddUrl: false
  "linter-ui-default":
    panelHeight: 69
  "lisp-paredit":
    strict: false
  "markdown-preview":
    breakOnSingleNewline: true
    liveUpdate: false
    useGitHubStyle: true
  "markdown-preview-enhanced":
    closePreviewAutomatically: false
    enableZenMode: true
    imageDropAction: "copy to image folder"
    openPreviewPaneAutomatically: false
    previewTheme: "solarized-dark.css"
    scrollSync: false
  "nord-atom-syntax":
    accessibility: {}
  "nord-atom-ui":
    tabSizing: false
  parinfer:
    "file-extensions": [
      ".boot"
      ".cl"
      ".clj"
      ".cljc"
      ".cljs"
      ".edn"
      ".el"
      ".lfe"
      ".lisp"
      ".lsp"
      ".rkt"
      ".scm"
    ]
    "use-smart-mode?": true
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    extendedSearchNames: [
      "**/*.css"
      "**/theme*"
      "**/theme.js"
      "**/theme.scss"
    ]
    filetypesForColorWords: [
      "css"
      "less"
      "styl"
      "stylus"
      "sass"
      "scss"
      "js"
    ]
    sourceNames: [
      "**/*.css"
      "**/*.styl"
      "**/*.stylus"
      "**/*.less"
      "**/*.sass"
      "**/*.scss"
      "**/theme.js"
      "**/theme.scss"
    ]
  "postcss-sorting": {}
  "prettier-atom":
    formatOnSaveOptions:
      respectEslintignore: true
      showInStatusBar: true
    prettierEslintOptions:
      prettierLast: true
    prettierOptions:
      printWidth: 110
      semi: false
      singleQuote: true
      tabWidth: 2
      trailingComma: "es5"
    useEslint: true
  "pristine-ui": {}
  "proto-repl":
    autoPrettyPrint: true
  react:
    enabledForAllJavascriptFiles: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "status-bar": {}
  "tab-foldername-index":
    numberOfFolders: 2
  "tab-title": {}
  "template-generator": {}
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
      workingDirectory: "Active File"
  "tool-bar":
    visible: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".editorconfig.source":
  editor:
    showIndentGuide: true
    softWrap: true
".graphql.source":
  editor:
    softWrapHangingIndent: 2
    tabLength: 4
"source.gfm":
  editor:
    softWrap: true
