# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'atom-text-editor:not([mini])':
  'alt-up': 'navigate-indent:prev'
  'alt-down': 'navigate-indent:next'
  'alt-shift-up': 'navigate-indent:select-prev'
  'alt-shift-down': 'navigate-indent:select-next'
  'alt-p': 'prettier:format'


'.platform-darwin':
  ## VIM binding on directions
  'cmd-k h':  'pane:split-left-creating-empty-pane'
  'cmd-k l': 'pane:split-right-creating-empty-pane'
  'cmd-k k':    'pane:split-up-creating-empty-pane'
  'cmd-k j':  'pane:split-down-creating-empty-pane'

  'cmd-k m h':  'pane:split-left-moving-current-tab'
  'cmd-k m l': 'pane:split-right-moving-current-tab'
  'cmd-k m k':    'pane:split-up-moving-current-tab'
  'cmd-k m j':  'pane:split-down-moving-current-tab'

  'cmd-k n h':  'pane:split-left-creating-new-file'
  'cmd-k n l': 'pane:split-right-creating-new-file'
  'cmd-k n k':    'pane:split-up-creating-new-file'
  'cmd-k n j':  'pane:split-down-creating-new-file'

  'cmd-k d h':  'pane:split-left'
  'cmd-k d l': 'pane:split-right'
  'cmd-k d k':    'pane:split-up'
  'cmd-k d j':  'pane:split-down'
  ## The don't seem to work
  "cmd-k g k": "window:focus-pane-above",
  "cmd-k g j": "window:focus-pane-below",
  "cmd-k g h": "window:focus-pane-on-left",
  "cmd-k g l": "window:focus-pane-on-right",
